<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>creditinfo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key> 
	<dict>    
	<key>NSAllowsArbitraryLoads</key>    
	<true/>    
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>FiraGO-Bold.ttf</string>
		<string>FiraGO-BoldItalic.ttf</string>
		<string>FiraGO-Book.ttf</string>
		<string>FiraGO-BookItalic.ttf</string>
		<string>FiraGO-Eight.ttf</string>
		<string>FiraGO-EightItalic.ttf</string>
		<string>FiraGO-ExtraBold.ttf</string>
		<string>FiraGO-ExtraBoldItalic.ttf</string>
		<string>FiraGO-ExtraLight.ttf</string>
		<string>FiraGO-ExtraLightItalic.ttf</string>
		<string>FiraGO-Four.ttf</string>
		<string>FiraGO-FourItalic.ttf</string>
		<string>FiraGO-Hair.ttf</string>
		<string>FiraGO-HairItalic.ttf</string>
		<string>FiraGO-Heavy.ttf</string>
		<string>FiraGO-HeavyItalic.ttf</string>
		<string>FiraGO-Italic.ttf</string>
		<string>FiraGO-Light.ttf</string>
		<string>FiraGO-LightItalic.ttf</string>
		<string>FiraGO-Medium.ttf</string>
		<string>FiraGO-MediumItalic.ttf</string>
		<string>FiraGO-Regular.ttf</string>
		<string>FiraGO-SemiBold.ttf</string>
		<string>FiraGO-SemiBoldItalic.ttf</string>
		<string>FiraGO-Thin.ttf</string>
		<string>FiraGO-ThinItalic.ttf</string>
		<string>FiraGO-Two.ttf</string>
		<string>FiraGO-TwoItalic.ttf</string>
		<string>FiraGO-UltraLight.ttf</string>
		<string>FiraGO-UltraLightItalic.ttf</string>
		<string>HelveticaNeue-Bold.ttf</string>
		<string>HelveticaNeue-Medium.ttf</string>
		<string>HelveticaNeue.ttf</string>
		<string>HelveticaNeueLTGEO55Mt-Regular.ttf</string>
		<string>HelveticaNeueLTGEO65Mt-Medium.ttf</string>
		<string>HelveticaNeueLTGEO75Mt-Bold.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSansGeorgian-Black.ttf</string>
		<string>NotoSansGeorgian-Bold.ttf</string>
		<string>NotoSansGeorgian-Condensed.ttf</string>
		<string>NotoSansGeorgian-CondensedBlack.ttf</string>
		<string>NotoSansGeorgian-CondensedBold.ttf</string>
		<string>NotoSansGeorgian-CondensedExtraBold.ttf</string>
		<string>NotoSansGeorgian-CondensedExtraLight.ttf</string>
		<string>NotoSansGeorgian-CondensedLight.ttf</string>
		<string>NotoSansGeorgian-CondensedMedium.ttf</string>
		<string>NotoSansGeorgian-CondensedSemiBold.ttf</string>
		<string>NotoSansGeorgian-CondensedThin.ttf</string>
		<string>NotoSansGeorgian-ExtraBold.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensed.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedBlack.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedBold.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedExtraBold.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedExtraLight.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedLight.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedMedium.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedSemiBold.ttf</string>
		<string>NotoSansGeorgian-ExtraCondensedThin.ttf</string>
		<string>NotoSansGeorgian-ExtraLight.ttf</string>
		<string>NotoSansGeorgian-Light.ttf</string>
		<string>NotoSansGeorgian-Medium.ttf</string>
		<string>NotoSansGeorgian-Regular.ttf</string>
		<string>NotoSansGeorgian-SemiBold.ttf</string>
		<string>NotoSansGeorgian-SemiCondensed.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedBlack.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedBold.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedExtraBold.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedExtraLight.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedLight.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedMedium.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedSemiBold.ttf</string>
		<string>NotoSansGeorgian-SemiCondensedThin.ttf</string>
		<string>NotoSansGeorgian-Thin.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
